<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text top-bar-logo">Soundbooth</li>
      <li class="menu-text" *ngIf="room"><strong>Room ID:</strong> {{ room._id }}</li>
      <li><a (click)="toggleRoomModal()">Change Rooms</a></li>
      <li><a (click)="createRoom()">Create Room</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <accounts-ui></accounts-ui>
  </div>
</div>

<div class="loginNotice" *ngIf="!loggedIn">
  <p class="loginNotice_text">Log in with SoundCloud to get started.</p>
</div>

<div class="joinRoom" [hidden]="!loggedIn || (room && !roomModalOpen)">
  <button class="close-button" type="button" *ngIf="room" (click)="toggleRoomModal()">&times;</button>
  <input type="text" class="joinRoom_field" placeholder="Enter a room ID" #joinRoomField (keyup.enter)="joinRoom(joinRoomField.value)">
</div>

<div class="row" *ngIf="loggedIn && room">
  <div class="medium-4 columns">
    <track-search></track-search>
  </div>

  <div class="medium-4 columns">
    <track-queue></track-queue>
  </div>

  <div class="medium-4 columns">
    <div class="chat"></div>
  </div>
</div>

<div class="audioPlayer" *ngIf="loggedIn && room"></div>
