.track {
  position: relative;
  border: 1px solid #ccc;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;

  &:hover {
    color: $primary-color;
    border-color: $primary-color;
  }

  &-active {
    border-color: $primary-color;

    &::before {
      @include vertical-center;
      right: 16px;
      content: '\f028';
      font-family: 'FontAwesome';
      display: block;
      color: $primary-color;
      margin-top: 2px; // Makes vertical alignment more accurate
    }
  }

  &_image {
    position: absolute;
    width: 50px;
    border: 1px solid #ccc;
    margin-right: 1rem;
  }

  &_text {
    padding-left: 63px;
  }

  &_title {
    font-weight: bold;
    margin-bottom: 0;
  }

  &_artist {
    margin-bottom: 0;
  }
}
